asgiref
certifi==2020.6.20
click==7.1.2
Django
gunicorn==20.0.4
joblib
mkl-fft==1.0.6
mkl-random==1.1.1
mkl-service==2.3.0
nltk
numpy
pandas
psycopg2
python-dateutil==2.8.1
pytz==2020.1
regex
scikit-learn
scikit-surprise==1.1.1
scipy
six==1.15.0
sqlparse
threadpoolctl
tqdm
wincertstore==0.2
